# Durée de retour à l'emploi pour les salariés en perte d'emploi : les déterminants endogènes et exogènes

> ## *> notebook "partie descriptive"*

## 1. Introduction

??? rédiger l'intro

# 1. Import des librairies et de la base de données

## 1.1. Constitution de la BDD à partir de plusieurs jeux de données

La BDD des salariés en reclassement comporte les variables "endogènes" liées aux individuls :

Elle a été constituée de manière fictive, en suivant certaines hypothèses :

A la différence d'un vrai jeu de données, le 


A cette base de données, a été apportée des 2 indicateurs "exogènes" 
??? données endo virtuelles + données exo :
1. données endogènes fictives
2. données exogènes (jointure par le CP) :
- taux de chômage
- taux d'emploi ?

Malheureusemement, les codes postaux ont été injectés aléatoirement, ne permettant pas de vérifier le lien entre durée de retour à l'emploi et vitalité du territoire.

Nous avons cependant injecté ces 2 indicateurs car ils sont déterminants dans le monde réel.

> *L'ensemble du travail effectué pour la constitution du jeu de données est accessible dans le notebook 0_exploration_7.*

## 1.2. Autres éléments disponibles

Le dossier "projet_desu_tre" a été constitué selon l'arborescence cookiecutter.

L'ensemble des fichiers utilisés figurent dans le sous-dossier "data" :
- données endogènes (répertoire "raw")
- jeux de données exogènes (répertoire "external")
- base de données consolidée et nettoyée (répertoire "processed")

3 notebooks sont disponibles dans le sous-dossier "notebooks" :
- 0_exploration_7
- 1_description_?
- 2_prédictif_?
- le répertoire "Old" comporte les précédentes versions

Ils sont consultables sur le Github : https://github.com/EmmaManou/projet_desu_tre

## 1.2. Importation des librairies

In [7]:
# la plupart des librairies nécessaires ont déjà été installées depuis anaconda dans l'environnement virtuel et déjà utilisées dans le notebook EXPLORATION.
import pandas as pd
import xlrd
import openpyxl
import numpy as np
import matplotlib.pyplot as plt

## 1.3. Téléchargement de la base de données

In [5]:
#importation du jeu de données utilisé
tre_df = pd.read_csv(r"C:\Users\emman\Documents\4_Diplômes\2022_DESU-AMU\0_Projet\projet_desu_tre\data\processed\tre_dataframe.csv")
tre_df

,id,genre,prenom,nom,age,csp,nbr_de_salaries,ville,duree_rae,ze,chomage_2021T4,concentr_emp2018
0,1,h,Daniel,VOL,39,Employé,208,Reinhardsmunster,351,Sarrebourg,5.4,12.7
1,2,f,Valentine,GAUGET PETIT,32,Cadre supérieur,324,Villefranche-de-Conflent,215,Perpignan,12.1,179.5
2,3,f,Angèle,BELAOUAZZA,21,Cadre supérieur,196,Saint-Gervais-les-Bains,270,Le Mont Blanc,4.1,68.9
3,4,f,Jeanine,HERMOSA GUIRADO,39,Cadre,538,La Verpillière,166,Bourgoin-Jallieu,6.3,91.1
4,5,h,Amaury,HALBERT,35,Ouvrier,930,Montpellier,45,Montpellier,9.8,151.3
...,...,...,...,...,...,...,...,...,...,...,...,...
49994,49995,h,Ghislain,ASATEKIN,29,Technicien Maîtrise,2965,Toulouse,0,Toulouse,7.4,152.4
49995,49996,h,Julien,PAUL DUBAIL,33,Cadre,452,Marseille 13e Arrondissement,168,Marseille,9.6,112.0
49996,49997,h,Hercule,UKOBIZABA,30,Cadre,5010,Néris-les-Bains,55,Montluçon,8.8,101.0
49997,49998,f,Vienne,FLAUJAT,54,Cadre supérieur,586,Plateau d'Hauteville,33,Belley,5.5,118.2
49998,49999,f,Edwige,NKU,41,Technicien Maîtrise,426,Saint-Priest-sous-Aixe,209,Limoges,6.7,20.4